@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'EB Garamond', serif;
    background-color: #fffdfb;
}

/* header start */
header {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
    top: 0;
    background-color: #302d2c;
    color: #f4e8da;
}

header img {
    height: 3rem;
}

nav {
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
}

/* header end */


/* footer start */
footer {
    background-color: #302d2c;
    text-align: center;
}

#footer-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
}

footer h2 {
    color: #f4e8da;
}

#footer-info p {
    color: #f4e8da;
}
/* footer end*/