body {
    margin: 0;
    min-height: 100vh;
}

/* header start */
header {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
    top: 0;
    background-color: #302d2c;
    color: #f4e8da;
    height: 60px;
}

header img {
    height: 4rem;
}

nav {
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
}
/* header end */

/* main start*/
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/* main end*/

/* footer start */
footer {
    height: 4rem;
    background-color: #302d2c;
}
/* footer end*/

/* banner div*/
.banner img{
    width: 100%;
}
/* banner div end */