main {
    display: grid;
    grid-template-row: 1fr 1fr;
}

.showcase {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
}

.showcase h1 {
    color: #c19c81;
}

.frame {
    margin-left: 20%;
    border: 3px solid black;
    padding: 0.4rem;
    display: flex;
    align-content: center;
    justify-content: center;
    max-width: 500px;
}

.frame > img {
    max-width: 98%;
}

.hidden {
    display: none;
}