.villa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.villa-title a {
    text-decoration: #c19c81 underline;
}

.villa-title h1 {
    display: block;
    color: #c19c81;
}

.villa-title p {
    padding-right: 2rem;
    max-width: 90vh;
}

.villa-thumbnail {
    border: 2px solid black;
    padding: 10px;
    padding-bottom: 5px;
}
.villa-thumbnail img {
    max-width: 450px;
    min-width: 200px;
}
#button{
    background-color: #c19c81;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    color: black;
}
#button:hover{
    background-color: #dcd4dc87
}
#adres{
    color: #c19c81;
}