main h1{
    color: #c19c81;
    text-align: center;

}
main{
    padding-left: 20px;
    padding-right: 20px;
}
main img{
    width: 80vh;
}
.img{
    border: 2px solid black;
    padding: 10px;
    max-height: 400px;
}
.img img{
    height: 100%;
}

.flexbox{
    display: flex;
    margin-top: 40px;
}
.text h1{
    color: #c19c81;
    text-align: center;
}
.text{
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

/* tweede flexbox */
.flexbox1{
    display: flex;
    margin-top: 40px;
}
/* info met icons */
.info {
    text-align: left;
}
.info p{
    margin-top: 10px;
}
.info p img{
    max-width: 40px;
    margin-bottom: -9px;
    margin-right: 10px;
}

.infotext{
    color: #c19c81;
}