.villa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.villa-title h1 {
    display: block;
    color: #c19c81;
}

.villa-title p {
    padding-right: 2rem;
}

.villa-thumbnail {
    border: 2px solid black;
    padding: 1rem;
}
#button{
    background-color: #c19c81;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    color: black;
}
#button:hover{
    background-color: #dcd4dc87
}